$base-font-size: 22px;

@mixin ph  {
  @media (max-width: 1440px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-size: $base-font-size;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  
  @include ph {
      background-color: black;
  }
  
}


@import 'block/news.scss';
@import 'block/title.scss';