@font-face {
  font-family: 'Georgia';
  src: url('../fonts/georgia.ttf') format('truetype');
  src: url('../fonts/georgia_bolditalic.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/aialmt.ttf') format('truetype');
  src: url('../fonts/arial_bolditalicmt.ttf') format('truetype');
  font-weight: 400;
}